$primary-color: #f6f5f2;
$secondary-color: #333;
$hover: #ffd700;
$image-overlay: rgba(29, 128, 227, 0.35);
$image-hover-overlay: rgba(29, 128, 227, 0.35);
$image-hover: rgb(255, 95, 89);
$shadow: rgba(0, 0, 0, 0.4);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url("https://img.freepik.com/free-photo/white-paper-texture_1194-5998.jpg?w=1800&t=st=1713412503~exp=1713413103~hmac=2ce1d9a87f72053095f76f69dd1d133002fed49a9aa48b9cd992254a1f63bd03");
  background-color: $primary-color;
  font-family: "Poppins", serif;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: $secondary-color;
  color: $primary-color;
}

.header__title {
  margin: 0;
  font-size: 36px;
  font-family: "Kaushan Script", cursive;
}

// navigation
.nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
}

.nav__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav__item {
  margin-right: 15px;
}

.nav__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  min-width: 44px;
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav__item a:hover {
  color: $hover;
}

/* Hero Styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.hero picture {
  max-width: 100%; 
}

.hero img {
  max-width: 100%; 
  height: auto;
  border: 2px solid $secondary-color;
}

main > .resto__container {
  padding: 50px;
}

.resto__title {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  margin-bottom: 20px;
}

main > .resto__container > .restos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

// card

main > .resto__container > .restos > .card {
  padding: 16px;
  background-color: $primary-color;
  box-shadow: 0px 4px 8px $shadow;
  border-radius: 24px;
  text-align: left;
  justify-self: center;
  font-size: 1em;
  width: 100%;
}

.card > .img_overlay {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $image-overlay;
  border-radius: 24px;
}

.card > .img_overlay > img {
  max-width: 100%;
  min-height: 200px;
  border-radius: 24px;
}

.card > .code {
  font-size: 0.75em;
}

.card > h2 > a {
  font-size: 32px;
  text-decoration: none;
  color: $secondary-color;
  min-height: 44px;
  min-width: 44px;
}

.card > h2 > a:hover {
  text-decoration: none;
  color: $image-hover;
}

.card > .desc_title {
  font-size: 0.75em;
}

.card > .description {
  font-size: 0.75em;
  margin: 5px auto;
}

.card > .info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 1em;
  text-align: center;
}

.card > .info > .rating,
.card > .info > .city {
  margin: 5px 5px 2px;
  background-color: rgb(0, 152, 240);
  border-radius: 24px;
  color: $primary-color;
  font-family: "Kaushan Script", cursive;
  padding: 5px 0;
}

.card > .info > .rating:hover,
.card > .info > .city:hover {
  background-color: $image-hover;
}

footer {
  padding: 50px;
  text-align: center;
}

// skip-content
.sekip {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 999px;
  top: -400px;
  left: 0;
  padding: 8px;
  background-color: $shadow;
  color: white;
  z-index: 100;
}

.sekip:focus {
  top: 70vh;
  left: 2vw;
}

.sekip > p {
  padding: 60px 0px 0px 40px;
}

// search feature
.cariResto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

form#search {
  background-color: $primary-color;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px $shadow;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
}

#searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  min-height: 44px;
  min-width: 44px;
}

#searchInput:focus {
  border-color: #4caf50;
}

/*
  Like
*/

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #333;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.like:hover {
  background-color: #444;
}

.like:focus-visible {
  outline: none;
}

/*
  Button
*/

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #333;
  border: 1px solid #777;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #444;
}

.btn:focus-visible {
  outline: 3px solid #333;
}

/* Styling form container */
.form-container {
  margin-bottom: 20px;
  background-color: #333;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;

  text-align: center;
}

.form-container h2 {
  color: #f6f5f2;
  margin-bottom: 10px;
  text-align: center;
  grid-column: 1 / -1; /* Mengambil semua kolom */
}

.form {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1; /* Mengambil semua kolom */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #f6f5f2;
  margin-bottom: 5px; /* Menambahkan ruang di bawah label */
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 250px; /* Minimum lebar */
  min-height: 40px; /* Minimum tinggi */
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #999;
}

.btn-submit {
  background-color: #f6f5f2;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #ddd;
}

/* Styling for restaurant poster */
.restaurant-image-container {
  text-align: center;
}

.restaurant__poster {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Styling for restaurant info */
.restaurant-info {
  background-color: #f6f5f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.restaurant-info h2 {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.restaurant-info p {
  margin-bottom: 5px;
}

.restaurant-info strong {
  font-weight: bold;
}

.categories {
  font-style: italic;
  margin-bottom: 10px;
}

/* Styling for menu list */
.menu-list {
  margin-bottom: 20px;
  background-color: #333;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.menu-list h3 {
  color: #f6f5f2;
  margin-bottom: 10px;
  text-align: center;
}

.menu-list ul {
  padding: 0;
  list-style-type: none;
}

.menu-list ul li {
  color: #f6f5f2;
  margin-bottom: 5px;
}

/* Styling for customer reviews */
.customer-reviews {
  background-color: #f6f5f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.customer-reviews h3 {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.customer-reviews ul {
  list-style-type: none;
  padding: 0;
}

.customer-reviews ul li {
  margin-bottom: 5px;
}

.customer-reviews strong {
  font-weight: bold;
}
